<assembly xmlns="http://maven.apache.org/ASSEMBLY/2.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/ASSEMBLY/2.1.0 http://maven.apache.org/xsd/assembly-2.1.0.xsd">
    <id>local-file-system-${openrefine.version}</id>
    <includeBaseDirectory>false</includeBaseDirectory>
    <formats>
        <format>zip</format>
    </formats>
    <fileSets>
        <fileSet>
            <directory>target/classes</directory>
            <outputDirectory>module/MOD-INF/classes</outputDirectory>
            <excludes>
                <exclude>**/module/**</exclude>
            </excludes>
        </fileSet>
        <fileSet>
            <directory>src/main/java</directory>
            <outputDirectory>module/MOD-INF/classes</outputDirectory>
            <excludes>
                <exclude>**/*.java</exclude>
            </excludes>
        </fileSet>
        <fileSet>
            <directory>src/main/resources/module</directory>
            <outputDirectory>module</outputDirectory>
        </fileSet>
    </fileSets>
    <dependencySets>
        <dependencySet>
            <outputDirectory>module/MOD-INF/lib</outputDirectory>
        </dependencySet>
    </dependencySets>
</assembly>
